.envrc
README.md

# Docker
docker-compose.yml
Dockerfile
.docker
.dockerignore

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# virtualenv
.venv

# cache
.ruffcache
.mypy_cache
